.home4HomeHouseRoofShelteIcon {
  height: 32px;
  width: 32px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 32px;
}
.footerInfo {
  position: relative;
  font-size: 24px;
  font-weight: 800;
  font-family: var(--font-inter);
  background: linear-gradient(92.71deg, #d01818 13.02%, #103a8c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: left;
}
.homebutton {
  cursor: pointer;
  border: 0;
  padding: 8px;
  background-color: transparent;
  border-radius: 10px;
  background: linear-gradient(
    -87.38deg,
    rgba(186, 227, 236, 0),
    rgba(170, 158, 223, 0.2) 44.79%,
    rgba(170, 158, 223, 0.2)
  );
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 16px;
  white-space: nowrap;
}
.languagebutton {
  margin: 0;
  height: 32px;
  width: 32px;
}
.inputLabels {
  flex: 1;
  position: relative;
}
.findherebutton {
  width: 149.2px;
  border-radius: var(--br-8xs);
  background: linear-gradient(
    90.8deg,
    rgba(255, 255, 255, 0.43),
    rgba(218, 201, 255, 0.42) 45.31%,
    rgba(164, 222, 255, 0.42)
  );
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}
.pricesnametext {
  height: 24px;
  position: relative;
  display: inline-block;
}
.pricesbutton {
  width: 149.2px;
  border-radius: var(--br-8xs);
  background: linear-gradient(
    90.8deg,
    rgba(255, 255, 255, 0.43),
    rgba(218, 201, 255, 0.42) 45.31%,
    rgba(164, 222, 255, 0.42)
  );
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.gallerynametext {
  position: relative;
}
.gallerybutton {
  width: 149.2px;
  border-radius: var(--br-8xs);
  background: linear-gradient(
    90.8deg,
    rgba(255, 255, 255, 0.43),
    rgba(218, 201, 255, 0.42) 45.31%,
    rgba(164, 222, 255, 0.42)
  );
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: left;
}
.aboutnametext {
  flex: 1;
  position: relative;
}
.aboutbutton {
  width: 149.2px;
  border-radius: var(--br-8xs);
  background: linear-gradient(
    90.8deg,
    rgba(255, 255, 255, 0.43),
    rgba(218, 201, 255, 0.42) 45.31%,
    rgba(164, 222, 255, 0.42)
  );
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}
.contactusnametext {
  height: 24px;
  flex: 1;
  position: relative;
  display: inline-block;
}
.contactusbutton,
.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.contactusbutton {
  width: 149.2px;
  border-radius: var(--br-8xs);
  background: linear-gradient(
    90.8deg,
    rgba(255, 255, 255, 0.43),
    rgba(218, 201, 255, 0.42) 45.31%,
    rgba(164, 222, 255, 0.42)
  );
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  flex-shrink: 0;
  justify-content: center;
}
.navbar {
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 5px;
  max-width: 100%;
}
.blankLine,
.kontaktai {
  margin: 0;
}
.span {
  text-decoration: underline;
}
.a {
  color: inherit;
}
.adresas,
.lingailiG33,
.p {
  margin: 0;
}
.footerHelpInfoContainer {
  height: 150px;
  position: relative;
  line-height: 30px;
  display: inline-block;
}
.footerHelpInfoFrame {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) 14px;
  box-sizing: border-box;
  min-width: 173px;
}
.map {
  position: relative;
  line-height: 30px;
}
.googleMapsEmbedHolderFrame {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 26px 29px;
}
.aus,
.footerFrame {
  display: flex;
  color: var(--color-black);
}
.footerFrame {
  align-self: stretch;
  border-radius: var(--br-8xs);
  background: linear-gradient(
    90.29deg,
    #fff,
    rgba(249, 249, 249, 0.98) 20.87%,
    rgba(249, 249, 249, 0.95) 47.92%,
    rgba(245, 245, 245, 0.92) 82.18%,
    rgba(234, 251, 255, 0.9)
  );
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
  text-align: left;
  font-size: var(--font-size-sm);
  font-family: var(--font-arimo);
}
.aus {
  width: 100%;
  position: relative;
  background: linear-gradient(
      -63.98deg,
      rgba(106, 72, 200, 0.2),
      rgba(214, 144, 247, 0.04) 30.27%,
      rgba(95, 186, 181, 0.12)
    ),
    linear-gradient(
      179.45deg,
      #fff,
      #fff 25%,
      #feffff 50%,
      #ecfbff 75%,
      #b7e8f3
    );
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-3xs) 64px;
  box-sizing: border-box;
  gap: var(--gap-45xl);
  letter-spacing: normal;
  text-align: center;
  font-size: var(--font-size-mini);
  font-family: var(--font-mina);
}
@media screen and (max-width: 800px) {
  .aus {
    gap: var(--gap-45xl);
    padding-left: var(--padding-13xl);
    padding-right: var(--padding-13xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .footerHelpInfoFrame {
    flex: 1;
  }
  .footerFrame {
    flex-wrap: wrap;
  }
  .aus {
    gap: var(--gap-45xl);
  }
}
